@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}


input:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  -webkit-text-fill-color: white ;
}

@layer components {
  .bg-custom-gradient {
    @apply bg-gradient-to-r from-[#121241] to-[#2E2EA7];
  }

  .bg-custom-gradient-card {
    @apply  bg-gradient-to-br from-[#060B26]/[0.74] to-[#1A1F37]/[0.50]
  }

  .primary-gradient{
    @apply bg-gradient-to-r from-[#0075FF]/[0.8] to-[#004699]
  }
}
