@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  color: white;
}

html, body {
  heigh: 100%;
}

input:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  -webkit-text-fill-color: white ;
}

@layer components {
  .bg-custom-gradient {
    @apply bg-gradient-to-r from-[#121241] to-[#2E2EA7];
  }

  .bg-custom-gradient-card {
    @apply  bg-gradient-to-br from-[#060B26] to-[#1A1F37]/[0.50]
  }

  .primary-gradient{
    @apply bg-gradient-to-r from-[#0075FF]/[0.8] to-[#004699]
  }

  .chart-gradient{
    @apply bg-gradient-to-b from-[#060B28]/[0.8] to-[#0A0E23]/[0.7]
  }

  .sidebar-gradient{
    @apply bg-gradient-to-b from-slate-900 to-slate-950
  }

  .shadow-sidebar {
    @apply shadow-[10px_10px_36px_8px_#1A1F37];
  }

  .btn-gradient-primary{
    @apply bg-gradient-to-r from-[#121241] to-[#2E2EA7] 
  }

  .btn-gradient-auth{
    @apply bg-gradient-to-r from-blue-700 to-blue-900
  }
}

@layer base {
  :root {
    --chart-1: 210, 100%, 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
